<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>springboot-thymeleaf demo</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<body>
<div style="width: 500px;margin-top: 30px;">
<form class="layui-form" action="">
    <div class="layui-form-item" >
        <label class="layui-form-label">城市代码</label>
        <div class="layui-input-block">
            <input type="text" name="cityCode"  required  lay-verify="required" placeholder="请输入城市代码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formWeather">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>
<script src="../layui/layui.js"></script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            var cityCode = data.field;
            var url = "{:U('index/queryCityWeather')}";
            $.ajax({
                url:url,
                type:'get',
                data:cityCode,
                beforeSend:function () {
                    this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                },
                success:function(data){
                    if(data.status == 'error'){
                        layer.msg(data.msg,{icon: 5});//失败的表情
                        return;
                    }else if(data.status == 'success'){
                        layer.msg(data.msg, {
                            icon: 6,//成功的表情
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            location.reload();
                        });
                    }
                },
                complete: function () {
                    layer.close(this.layerIndex);
                },
            });
            return false;//阻止表单跳转
        });
    });
</script>
</body>
</html>