<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>国内天气实时查询</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<body>
<div style="width: 500px;margin-top: 30px;">
    <p style="margin: 40px">北京的城市代码：<span style="color: red;">101010100</span></p>
<form class="layui-form" action="">
    <div class="layui-form-item" >
        <label class="layui-form-label">城市代码</label>
        <div class="layui-input-block">
            <input type="text" name="cityCode"  required  lay-verify="required" placeholder="请输入城市代码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formWeather">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>
<script src="../layui/layui.js"></script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formWeather)', function(data){
            var cityCode = data.field;
            var url = "queryCityWeather";

            layui.jquery.ajax({
                url:url,
                type:'get',
                data:cityCode,
                beforeSend:function () {
                    this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                },
                success:function(data){
                    if(data == ''){
                        layer.msg('查询失败',{icon: 5, area: ['200px', '100px']});//失败的表情
                        return;
                    }else if(data != ''){
                        var cityInfo = data.cityInfo;
                        var weatherData = data.data;
                        layer.open({
                            title: cityInfo.city + '天气',
                            content: data.time+'</br>'+'湿度：'+weatherData.shidu
                                + '</br>' +'温度：'+ weatherData.wendu
                                +'</br>'+'PM2.5：'+weatherData.pm25
                                +'</br>'+'质量：'+weatherData.quality
                                +'</br>'+'活动建议：'+weatherData.ganmao
                        });
                    }
                },
                complete: function () {
                    layer.close(this.layerIndex);
                },
            });
            return false;//阻止表单跳转
        });
    });
</script>
</body>
</html>