<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sansan.springboot.api.mapper.UserInfoMapper">

    <resultMap id="userInfoResult" type="com.sansan.springboot.api.entity.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="username" jdbcType="VARCHAR"/>
        <result column="pass_word" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryUserInfo" resultMap="userInfoResult" parameterType="map">
        select
        id,
        user_name,
        pass_word
        from api_user
    </select>
    <select id="getUserInfo" resultMap="userInfoResult" parameterType="java.util.Map">
        select
          id,
          user_name,
          pass_word
        from api_user where user_name = #{userName,jdbcType=VARCHAR}
        and pass_word = #{password,jdbcType=VARCHAR}
    </select>

</mapper>